.body{
    font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: aliceblue;
}


.card{
    background-image: url('4.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover; /* Ensures the image covers the entire area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image horizontally and vertically */
    background-attachment: fixed;
    position: relative; /* Important for positioning content */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.content{
    background-color: white;
    border-radius: 15px;
    border: 3px solid #141414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 200px;
    padding: 20px;
    text-align: center;
}

.content img{
    width: 100px;
    border-radius: 10%;

}

.content p{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0d0d;
    margin-top: 15px;
}

.content button{
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.music button {
    background-color: #333;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.music button:hover {
    background-color: #181717;
}

.music button:active {
    background-color: #222;

}
